//--------------COLORS------------

:root {
    --color-primary: #1982C4;
    --color-secondary: #ee5b2c;
    --color-tertiary: #a23b72;

    --color-primary-light: #1982C4;
    --color-white: #f7f9f9;
    --color-gray-dark-1: #757575;
}
