
/* Card Component */



.footer-line {        
        width: 60%;
        height:1px;
        position: absolute;
        bottom:3rem;
        left: 50%;
        margin-left: -30%;
        border-bottom: var(--color-off-white) solid 2px;
        box-shadow: 0px 2px 1rem rgba(0,0,0,.9);

}



