.wrapper {
    background-image: linear-gradient(to bottom, var(--color-white) 0%, var(--color-white) 50%,
         70%, var(--color-primary) 90%);
    padding: 1rem 0rem 6rem 0rem;
    min-height:100vh;
    position: relative;
    overflow:hidden; 

}