.header {
    background: none;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: var(--color-primary);
    text-shadow: 0px 1rem 1rem rgba(0,0,0,.6);
    text-transform:uppercase;
}

//For main homescreen only, display larger text.
.header--large {
    font-size: 6rem;
    text-align: center;
    margin: 1rem 0;
}



.subheading {
    font-size: 2.2rem;
    text-align: center;
    width: 30rem;
    margin: 0 auto;
    color: var( --color-gray-dark-1);

    font-weight: 400;
    font-family: 'Oswald', sans-serif;

}

.subheading__focus-text {
    color: var(--color-primary-light);
}
